*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

main
{
  height: 100%;
  width: 100%;
  padding: 20px;
 background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
}
section{
  height: calc(100vh - 40px);
  width: 350px;
  background-color: black;
  /* overflow: hidden; */
  border-radius: 10px;
  margin: auto;
}
.Allreels{
  height: 100%;
  width: 100%;
  
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  
}
.Allreels::-webkit-scrollbar{
  display: none;
}
.reel{
height: 100%;
width: 100%;
border-radius: 10px;
position: relative;
/* overflow: hidden; */

 margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;

}
.reel video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.reel .bottom
{
width: 100%;
padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
position: absolute;
bottom: 0;
}
.bottom .user{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom:10px;
}
.bottom .user img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.bottom .user h3{
 font-size: 18px;
 font-weight: 600;
}
.bottom button{
  padding: 4px 5px;
  background-color:transparent;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid white;
}
h3{
  font-size: 15px;
  font-weight: 500;
}
.right{
  
  width: 40px;
  padding: 30px;
  position: absolute;
  right: -3px;
  transform:translate(0);
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  bottom:20%;
}
.right i{
  font-size:30px;
  font-weight:200;
}
.right h6{
  font-size: 15px;
  font-weight: 200;
}
.right>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;
}
.love{
  color: rgb(235, 4, 43);
}
.right>div h4{
  pointer-events: none;
}
.right>div h6{
  pointer-events: none;
}



.mute{
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;

}
.mute i {
  font-size: 20px;
  pointer-events: none;
}
.mute:active{
  scale: 0.95;
}